.st-gallery-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 1rem 0;
}

.st-gallery-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(auto,1fr);
    gap: .5rem;
    margin-bottom: 1rem;
}

.st-gallery-img{
    position: relative;
    background-color: rgb(255, 255, 255);
}


.hover-img{
    height: 100%;
    width: 100%;

    -webkit-filter: grayscale(0);
	filter: grayscale(0);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}



.img-comment-hover{
    position: absolute;
    top: 50%;
    left: 20%;
    opacity: 0;
    z-index: 10;
}
.hover-img:hover{
    -webkit-filter:blur(1px)  grayscale(50%);
	filter:blur(1px)  grayscale(50%);
}

.st-gallery-img:hover .img-comment-hover{
    opacity: 1;
}

.img-hover-ico100{
    color: rgb(82, 82, 82);
}

.img-hover-icon>i{
    color: rgb(82, 82, 82);
}

.st-gallery-view-img{
    width: 100%;
    margin: 1rem 0;
}

.view-gallery-profile-container{
    display: flex;
    margin-bottom: .5rem;
}
.view-profile-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: .5rem;
    background-color: blueviolet;
}
.view-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-img-icons{
    margin-top: .5rem;
}

.view-img-nickname,.view-img-icons{
    font-weight: 600;
}
.view-comment-text{
    font-weight: 500;
}

.view-img-shop,.view-comment,.view-comment-more{
    font-size: 0.8rem;
}

.view-comment-more{
    margin-top: .5rem;
    font-weight: 500;
    background-color: rgb(247, 247, 247);
    color: rgb(163, 163, 163);
    border-radius: 8px;
}
.view-comment{
    margin-top: .5rem;
}
.view-img{
    width: 90%;
    height: 90%;

    border-radius: 5px;
    border: 1px solid rgb(231, 231, 231);
}

.magin-l-1{
    margin-left: 5%;
}


